extends layout

block content
  h1= title
  p Welcome to #{title} app

  ul.category-list
    each category in categories_list 
      li
        a(href=category.url)= category.name[0].toUpperCase()+category.name.slice(1)
        
  

  a(href="/catalog/category/create") Add category